<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    <a href="#top" style="color: #000;">Topo</a>
    </p>
    <p style="color: #000;">GuriDev ©</p>
  </div>
</footer>
