<br>
<h1>Blog do Erick</h1>
<br>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render partial: 'initial_post', locals: { post: post } %>
  <% end %>
<% else %>
  <h3>Ainda não há postagens!</h3>
<% end %>
