<br>
<% @post.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
<br>
<h1>Nova Postagem</h1>
<br>

<%= render partial: 'form', locals: { post: @post, botao: t('post.new.submit') } %>
