@import "bootstrap";

.jumbotron {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.main {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  height: 60px;
  background-color: #ED8A41;

  .container {
    padding-top: 20px;
  }
}

.navbar {
  background-color: #ED8A41;
}

.navcolor {
  color: #FFF;
}

.nav-item {
  margin-left: 20px;
  font-size: 16px;
  font-family: sans-serif;
  color: #000
}

.dropdown-menu {
  background-color: #403F3D;
}

.dropdown-item {
  color: #ED8A41;
  font-style: bold;
  font-family: sans-serif;
}

.dev-size {
  font-size: 38px;
  margin-left: -12px;
  margin-rigth: 25px;
}

pre {
    height: auto;
    overflow: hidden;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nounderline {
  text-decoration:none;
}
